In [6]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv("Coursera.csv")
df.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [8]:
df['Skills']

0       Drama  Comedy  peering  screenwriting  film  D...
1       Finance  business plan  persona (user experien...
2       chemistry  physics  Solar Energy  film  lambda...
3       accounts receivable  dupont analysis  analysis...
4       Data Analysis  select (sql)  database manageme...
                              ...
3517    Databases  syntax  analysis  web  Data Visuali...
3518    retirement  Causality  career  history of the ...
3519    analytics  tableau software  Business Intellig...
3520    Angular  Mechanical Design  fluid mechanics  F...
3521    bigtable  bigquery  SQL  Google Cloud Platform...
Name: Skills, Length: 3522, dtype: object

In [9]:
df['Skills'][4]

'Data Analysis  select (sql)  database management systems  online shopping  table (database)  data retrieval  Databases  web page  numbers (spreadsheet)  SQL information-technology data-management'

In [10]:
df1=df['Skills'].str.lower().str.split('  ')
df1

0       [drama, comedy, peering, screenwriting, film, ...
1       [finance, business plan, persona (user experie...
2       [chemistry, physics, solar energy, film, lambd...
3       [accounts receivable, dupont analysis, analysi...
4       [data analysis, select (sql), database managem...
                              ...
3517    [databases, syntax, analysis, web, data visual...
3518    [retirement, causality, career, history of the...
3519    [analytics, tableau software, business intelli...
3520    [angular, mechanical design, fluid mechanics, ...
3521    [bigtable, bigquery, sql, google cloud platfor...
Name: Skills, Length: 3522, dtype: object

In [11]:
df2=set()
for i in df1.iteritems():
    for j in i[1]:
        df2.add(j)
len(df2)
df2=df2

In [12]:
df2=list(df2)
df2=pd.DataFrame(df2)
df2=df2.iloc[1:,:]
df2

                                                      0
1
2     communication in small groups social-sciences ...
3                                       virtual circuit
4                              app inventor for android
5                              software incompatibility
...                                                 ...
8549                                         common law
8550                      enterprise information system
8551                                    problem finding
8552                                   marketing myopia
8553                               spreadsheet software

[8553 rows x 1 columns]

In [13]:
df.Skills.apply(lambda x:pd.value_counts(x.split())).sum(axis=0)

Drama             8.0
Comedy            5.0
peering          14.0
screenwriting     4.0
film             39.0
                 ...
goms              1.0
sensemaking       1.0
fcaps             1.0
retirement        1.0
rig               1.0
Length: 5397, dtype: float64

In [15]:
tg=df['Skills'].str.lower().str.split()
tg[1]

['finance',
 'business',
 'plan',
 'persona',
 '(user',
 'experience)',
 'business',
 'model',
 'canvas',
 'planning',
 'business',
 'project',
 'product',
 'development',
 'presentation',
 'strategy',
 'business',
 'business-strategy']

In [18]:
lt=set()
for i in range (0,len(tg)):
    for j in range (0,len(tg[i])):
        lt.add(tg[i][j])
lt

{'transpose',
 'land',
 'bigtable',
 'template',
 'training',
 'change',
 'organizations',
 'library',
 'decorrelation',
 'growth',
 'antivirus',
 'placement',
 'meta',
 'access',
 'superscalar',
 'two',
 'breaches',
 'kits',
 'swing',
 'fallacy',
 'scratch',
 'optimism',
 'hazard',
 'operation',
 'proof-of-stake',
 'rig',
 'rational',
 'jmeter',
 'davis',
 'public-health',
 'restore',
 'return',
 'lifelong',
 't.i.m.e.',
 'women',
 'intuition',
 'immutable',
 'events',
 'seeks',
 'stream',
 'leakage',
 '(nutrition)',
 'skewness',
 'peering',
 'authorised',
 'sensitivity',
 'walking',
 'voltage',
 'regression',
 'threadsafe',
 'threat',
 'inkscape',
 'dance',
 "porter's",
 'scraping',
 'cidn',
 'elderly',
 'price',
 'mod',
 'subscribe',
 'phone',
 'opms',
 'tool',
 'cross-sectional',
 'mobility',
 'sovereignty',
 'interview',
 'phylogenetic',
 'ordered',
 'provisioning',
 'electronics',
 'earnings',
 'face',
 'capitalization',
 'sorting',
 'ableton',
 'illustration',
 'credentialing',
 'smoking',
 '(security',
 '(game',
 'money',
 'abstract',
 'icd-10',
 '(sql)',
 'networking',
 'structures',
 'kaizen',
 'deforestation',
 'chemotherapy',
 'prophylaxis',
 'aids',
 '2000',
 'fabric',
 'civilization',
 'julia',
 'kaplan',
 'triple',
 'horizon',
 'theorem',
 'objects',
 'intrinsic',
 'lemma',
 'payback',
 'commands',
 'systems)',
 'interact',
 'cyberterrorism',
 'toolkit',
 'out',
 'feminists',
 'tput',
 'post-earnings-announcement',
 'airport',
 'beta',
 'probes',
 'modeler',
 'blame',
 'service-oriented',
 'water',
 'aromatherapy',
 'expert',
 'local',
 'merkle',
 'definition',
 'waste',
 'several',
 'consensus',
 'retained',
 'writing',
 'kivy',
 'structural',
 'marine',
 'geriatrics',
 'nonverbal',
 '(audio',
 'tailored',
 'registry',
 'perceptual',
 'registration',
 'ridge',
 'model-based',
 'ensembles',
 'primitive',
 'religion',
 'plants',
 'intersection',
 'committee',
 'oscilloscope',
 'prior-appropriation',
 'tropical',
 'business',
 'social-sciences',
 'spectrometry',
 'interactions',
 'undefined',
 'brainwriting',
 'payroll',
 'gif',
 'bounty',
 'omics',
 'schools',
 'projects',
 'manager',
 'arbitration',
 'estimate',
 'cellular',
 'kiss',
 'team',
 'networks)',
 'layout',
 "company's",
 'silver',
 'polynomial',
 '(packaging',
 'individual',
 'blockchain',
 'management',
 'reciprocal',
 'plans',
 'malware',
 'irony',
 'focused',
 'the',
 'hermeneutics',
 'rounding',
 'pathophysiology',
 'libraries',
 'collective',
 'zero-coupon',
 'lamp',
 'markov',
 'vitamins',
 '(mvc)',
 'animal',
 'interplanetary',
 'allocation',
 'accrual',
 'resolution',
 'index',
 'apriori',
 'binomial',
 'formula',
 'freedom',
 'autonomous',
 'stopping',
 'validator',
 'dirichlet',
 'well',
 'practices',
 'unity',
 'control)',
 'vision)',
 'curriculum',
 'distancing',
 'storage',
 'hyperparameter',
 'jog',
 'success.',
 'receivable',
 'cataract',
 'be',
 'zero-knowledge',
 'warehousing',
 'precision',
 'trapping',
 'hunting',
 'extract',
 'political',
 'multi-party',
 'dermis',
 '(accounting)',
 'absorption',
 'timing',
 'checking',
 'debugging',
 'multidisciplinary',
 'forest',
 'causal',
 'hosting',
 'office',
 'pandemics',
 'connectionism',
 'component',
 'score',
 'phototropism',
 'gabe',
 'resource',
 'treemapping',
 'apoptosis',
 'protocol',
 'minority',
 'compromise',
 'computervision',
 'misuse',
 'stable',
 'newspaper',
 'plaintext',
 'map',
 'open',
 'codecs',
 'object-z',
 'crisis',
 'consent',
 'bioconductor',
 'identify',
 'apps',
 'higher-order',
 'gland',
 'israel',
 'backtesting',
 'volume',
 'democracy',
 'administrators',
 'prolog',
 'baby',
 'rest',
 'affordance',
 'redis',
 '(bond)',
 'servlets',
 'equipment',
 'metabolism',
 'interpolation',
 'extended',
 'instrumental',
 'wrapper',
 'encodings',
 '(communication)',
 'support-and-operations',
 'feasibility',
 'response',
 'newborn',
 'sleep',
 'l&d',
 'sequence',
 "two's",
 'temptation',
 'objective-c',
 'black-box',
 'account',
 'field',
 'instrument',
 'kinematics',
 'journalism',
 'scientific',
 'chart',
 'presentations',
 'endurance',
 'html5',
 'multiculturalism',
 'overfitting',
 'payment',
 'decriminalization',
 'social',
 'ad',
 'embedding',
 '(us',
 'cyclotron',
 'interior',
 'trace',
 'yield',
 'wet',
 'concreteness',
 'login',
 'cleaning',
 'trail',
 'steel',
 'psychopathology',
 'sperm',
 'chicken',
 'brand',
 'compose',
 'idf',
 'https://www.coursera.org/learn/corporate-entrepreneurs-innovation-strategy',
 'checklists',
 'artifact',
 'centers',
 'onboarding',
 'commercial',
 'learnability',
 'elections',
 'desiring',
 'learning-english',
 'graphics)',
 'receiving',
 'cutting',
 'medical',
 'gross',
 'ergonomics',
 'nutrient',
 'autosar',
 'dining',
 'empathy',
 'switch',
 'linearization',
 'pest',
 'satisficing',
 'hopper',
 'than',
 'bioethics',
 'dysphoria',
 'accounts',
 'ethereum',
 'formulation',
 'negative',
 'fmri',
 'graphlab',
 'proposition',
 'midwifery',
 'secret',
 'carbon',
 'stack',
 'journaling',
 'programming',
 'endocrinology',
 'film',
 'allergy',
 'self-reflection',
 'self-interest',
 'deployment',
 'distributions',
 'forensics',
 'sports',
 'regions',
 'administration',
 'version',
 'spectrum',
 'daging',
 'microbiology',
 '(algebra)',
 'stewardship',
 'platform',
 'cultural',
 'tying',
 'periodic',
 'me!',
 'neuroimaging',
 'management)',
 'choropleth',
 'pharynx',
 'time-scale',
 'surely',
 'entrepreneurship',
 'pesticides',
 'average',
 'show',
 'terminals',
 'disk',
 'economic',
 'figures',
 'jquery',
 'behalf',
 'disco',
 'estimator',
 'telephone',
 'burp',
 'process',
 'population',
 'pharmacology',
 'competitor',
 'hanyu',
 'monetary',
 'term',
 'reweighted',
 'fear',
 'searching',
 'assay',
 'dna',
 '(synchronization)',
 'design)',
 'relational',
 'invertible',
 'prior',
 'cross-validation',
 'truth',
 'hive',
 'race',
 'graph',
 'measurement',
 'experiene',
 'short',
 'ways',
 's.c.a.m.p.e.r',
 'rapid',
 'logarithmic',
 'arts',
 'echocardiography',
 'railroad',
 'github',
 'maps',
 'adjective',
 'wireshark',
 'encryption',
 'tooltip',
 'inflation',
 'pandemic',
 'signal',
 'selection',
 'united',
 'travelling',
 'system',
 'multi-factor',
 'data-intensive',
 'hubspot',
 'cheating',
 'fault',
 'notification',
 'coins',
 'shock',
 'colors',
 'feather',
 'biobank',
 'front-end',
 'hierarchical',
 'limited',
 'bureaucracy',
 'sort',
 'happiness',
 'physicians',
 'content',
 'types',
 'deception',
 'moment',
 'out-of-order',
 'biometrics',
 'git',
 'phylogenetics',
 'telnet',
 'upon',
 'provider',
 'debtor',
 'password',
 '(signal',
 'forecast',
 'making',
 'anticipation',
 'bayes',
 "peterson's",
 'react',
 'rickets',
 'iso',
 'adjuvant',
 'deficiency',
 'hidden',
 'cochlea',
 'intangibles',
 'astrobiology',
 'cell',
 'thinning',
 'mean',
 'retain',
 'node',
 'herbicides',
 'fuzzy',
 'computer-security-and-networks',
 'facial',
 'microsoft',
 'competency',
 'kalman',
 'heavy',
 'unit',
 'processor)',
 'bankruptcy',
 'engineer',
 'physics',
 'django',
 'botany',
 'randomness',
 'appreciative',
 'paycheck',
 'bonds',
 'metallurgy',
 'protection',
 'document',
 'network',
 'plotly',
 'centrality',
 'metaphor',
 'multiples',
 'parametric',
 'flat',
 'studies',
 'inter-process',
 'algorithmic',
 'regulatory',
 'evolutionary',
 'camps',
 'open-book',
 'federal',
 'desert',
 'throughput',
 'stormwater',
 'contribution',
 'gets',
 'knowledge',
 'long-term',
 'enabling',
 'abductive',
 'i/o',
 'bullet',
 'dwelling',
 'b2b',
 'intel',
 'divide',
 'sequencing',
 'nuclear',
 'genome',
 'blog',
 'rippling',
 'buyout',
 'biostatistics',
 'optimal',
 'deterrence',
 'facilitation',
 'home',
 'doctrine',
 'foreign',
 'optimization',
 'enumerative',
 'schistosomiasis',
 'meier',
 'arteries',
 'activation',
 'biopython',
 'radio',
 'english',
 'force',
 'stakeholder',
 'hypnosis',
 'biosphere',
 'trust',
 'neural',
 'travel',
 'pig',
 'pareto',
 'criticism',
 '(cloud',
 'impression',
 'sampling',
 'remarkable',
 'buddhism',
 'multitasking',
 'drag',
 'outsourcing',
 'wood',
 'historiography',
 'virus',
 'elevation',
 'scanning',
 'car',
 'psychoanalytic',
 'scene',
 'country',
 'intentionality',
 'funnel',
 'infonomics',
 'use',
 'fair',
 'inter-domain',
 'median',
 'into',
 'splay',
 'union',
 'sweat',
 'houses',
 'irreducible',
 'memory',
 'butterfly',
 'cryptosystem',
 'preservation',
 'satisfaction',
 'boolean',
 'mix',
 'death',
 'company',
 'tools',
 'which',
 'oxygen',
 'opioid',
 'inflammatory',
 'insertion',
 'explosion',
 'screening',
 'music',
 'appliance',
 'confusion',
 'physiology',
 'modifiers',
 'flight',
 'prevalence',
 'segmentation',
 'incident',
 'mood',
 'sketchup',
 'gun',
 '(academia)',
 'frame',
 'aligned',
 'unix',
 'humanities',
 'limit',
 'best',
 'single-root',
 'toolkits',
 'ventures',
 'as',
 'smalltalk',
 'epidemics',
 'palace',
 'frills',
 'sheet',
 'await',
 'crawler',
 'biopharmaceutical',
 'patent',
 'priori',
 'biomarker',
 'beanstalk',
 'simulink',
 'branded',
 'serial',
 'portal',
 'course',
 'systematic',
 'meetings',
 'redos',
 'rock',
 'telemedicine',
 'head',
 'number',
 'praise',
 "auditor's",
 'dominance',
 'calculations',
 'gitlab',
 'cartogram',
 'eyeos',
 'alternatives',
 'ingestion',
 'menstrual',
 'high-throughput',
 'copy',
 'elasticity',
 'framing',
 'exclusion',
 'timer',
 'practitioner',
 'curve',
 'banning',
 'resilience',
 'webcams',
 'libor',
 'tour',
 'software-development',
 'cards',
 'ideogram',
 'conditions',
 'download',
 'email',
 'dominant',
 'habit',
 '(technical',
 'utility',
 'pharmacy',
 'dietetics',
 'behavioural',
 'lifting',
 'swap',
 'high-level',
 'portfolios',
 'full',
 'climate',
 'experience',
 'distress',
 'extremophile',
 'easing',
 'nanotechnology',
 'dementia',
 'k',
 'operand',
 'affairs',
 'radiation',
 'merchandising',
 'concept',
 'flask',
 'securities',
 'mars',
 'scissors',
 'ecosystems',
 'conflict',
 'success',
 'interrupts',
 'sources',
 'record',
 'basic',
 'presales',
 'jacobian',
 'split',
 'embodied',
 'microelectronics',
 'meditation',
 'categorization',
 'injury',
 '27001:2013',
 'principles',
 'occupational',
 'depreciation',
 'behavioral',
 'projections',
 'similarity',
 'hydropower',
 'pasteurization',
 'neighbor',
 'torque',
 'foams',
 'generation',
 'editors',
 'elementary',
 'imagery',
 'hardware',
 'activity',
 'appetite',
 'bodymind',
 'deficit',
 'high-resolution',
 'methods',
 'strategy)',
 'rate',
 'recurrent',
 'persistence',
 'debuggers',
 'characterization',
 'immigration',
 'class',
 'rowing',
 'sexism',
 'stochastic',
 'waterman',
 'biblical',
 'staging',
 'disobedience',
 'ossec',
 'endodontics',
 'dict',
 'interspecific',
 'qubit',
 'broadcast',
 'concurrent',
 'visio',
 'inc.',
 'issues',
 '(international',
 'accessibility',
 'buyer',
 'species',
 'shifting',
 'iteration',
 'partnerships',
 'double',
 'pivot',
 'forgiveness',
 'review',
 'detection',
 'divestment',
 'emotion',
 'deepening',
 'lexical',
 'cancer',
 'math',
 'transgenic',
 'to',
 'boundary',
 'java',
 'certification',
 'do',
 'publicly',
 'haptic',
 'herb-drug',
 'relative',
 'technician',
 'research-methods',
 'drug',
 'conquesting',
 'shutdown',
 'convolutional',
 'green',
 'binary',
 'tolerance',
 'prejudice',
 'audits',
 'procedural',
 'orthography',
 'storm',
 'effectiveness',
 'net',
 'psyche',
 'records',
 'posts',
 'automaton',
 'seismographs',
 'work',
 'organizing',
 'electrical-engineering',
 'k-means',
 'adolescent',
 'criminal',
 'neuropsychology',
 'expertise',
 'shrdlu',
 'knowledge-based',
 'does',
 'dimensionality',
 '2.5d',
 'jumping',
 'vs.',
 'life.',
 'drill',
 'dieting',
 'federated',
 'round',
 'acis',
 'fiction',
 'scala',
 'cloud-computing',
 'areas:',
 'socially',
 'pygame',
 'transport',
 'neuroscience',
 'holland',
 'shannon',
 'multiplication',
 'interaction)',
 'circadian',
 'controller',
 'pharmacotherapy',
 'under',
 'blocking',
 'opaque',
 'recovery',
 'microarchitecture',
 'oauth',
 'cnc',
 'disposition',
 'redirected',
 'conspicuous',
 'connectivism',
 'hydrogen',
 'angularjs',
 'unos',
 'microfinance',
 'mainframe',
 'gestational',
 'openshift',
 'archeology',
 'exception',
 'site',
 'subtyping',
 'level',
 'side-channel',
 'input/output',
 'affect',
 'five',
 'cyber',
 'nested',
 'calculus',
 'opportunities',
 'simplex',
 'hotel',
 'conquer',
 'weight',
 'highway',
 'opentext',
 'reflexes',
 'breach',
 'prezi',
 'healthy',
 'screenwriting',
 'market.',
 'image',
 'act',
 'suffering',
 '(user',
 'delegation',
 'maximum',
 'hiv/aids',
 'query',
 'consumer',
 'constructionism',
 'ebola',
 'sensemaking',
 'top-down',
 '(variable)',
 'passing',
 'rehabilitation',
 'needs',
 'health',
 'multitier',
 'vitro',
 '(geometry)',
 'paint',
 'structured',
 'syndrome',
 'eunuch',
 'bank',
 'information-technology',
 'australia',
 'personal',
 'classical',
 'longitudinal',
 'diplomatics',
 'doxing',
 'callable',
 'wildlife',
 'predators',
 'biofilm',
 'pride',
 'herbalism',
 'harm',
 'production',
 'acquisitions',
 'shape',
 'crispr',
 'epigenetics',
 'landscape',
 'upper',
 'cytokine',
 'toothing',
 'protective',
 'high',
 'one-way',
 'mass',
 'stock',
 'framework)',
 'beef',
 'centre',
 'glassing',
 'self-awareness',
 'little',
 ...}

In [20]:
lt=list(lt)
lt=pd.DataFrame(lt)
lt

                0
0       transpose
1            land
2        bigtable
3        template
4        training
...           ...
4754    decoction
4755  abstraction
4756   electronic
4757  elicitation
4758  improvement

[4759 rows x 1 columns]

In [24]:
df2=pd.concat([df,lt.T],axis='columns')
df2.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills,0,1,2,...,4749,4750,4751,4752,4753,4754,4755,4756,4757,4758
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...,transpose,land,bigtable,...,current,policy,bubble,their,walkthrough,decoction,abstraction,electronic,elicitation,improvement
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
from sklearn.preprocessing import LabelEncoder

In [170]:
le=LabelEncoder()

In [171]:
df['label']=le.fit_transform(df['lt'])

In [172]:
df.label.unique()

array([ 387,  444, 1345, ..., 1129,   56, 1239])

In [181]:
df.label.shape

(3522,)

In [174]:
df.isnull().sum()
df.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills,label
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...,387
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...,444
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...,1345
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...,1041
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...,321

In [175]:
x=df['Course Rating'].str.contains('Not Calibrated')
x.value_counts()

False    3440
True       82
Name: Course Rating, dtype: int64

In [176]:
inputs=df
inputs.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills,label
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...,387
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...,444
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...,1345
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...,1041
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...,321

In [177]:
inputs['Skills']=inputs['Skills'].str.lower().str.split()

In [178]:
inputs.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills,label
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,"[drama, comedy, peering, screenwriting, film, ...",387
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...","[finance, business, plan, persona, (user, expe...",444
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,"[chemistry, physics, solar, energy, film, lamb...",1345
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...","[accounts, receivable, dupont, analysis, analy...",1041
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,"[data, analysis, select, (sql), database, mana...",321

In [179]:
inputs=inputs.drop(['University','Course URL','Course Description'],axis='columns')

In [180]:
inputs.head()

,Course Name,Difficulty Level,Course Rating,Skills,label
0,Write A Feature Length Screenplay For Film Or ...,Beginner,4.8,"[drama, comedy, peering, screenwriting, film, ...",387
1,Business Strategy: Business Model Canvas Analy...,Beginner,4.8,"[finance, business, plan, persona, (user, expe...",444
2,Silicon Thin Film Solar Cells,Advanced,4.1,"[chemistry, physics, solar, energy, film, lamb...",1345
3,Finance for Managers,Intermediate,4.8,"[accounts, receivable, dupont, analysis, analy...",1041
4,Retrieve Data using Single-Table SQL Queries,Beginner,4.6,"[data, analysis, select, (sql), database, mana...",321

In [182]:
tests=df
tests.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills,label
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,"[drama, comedy, peering, screenwriting, film, ...",387
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...","[finance, business, plan, persona, (user, expe...",444
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,"[chemistry, physics, solar, energy, film, lamb...",1345
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...","[accounts, receivable, dupont, analysis, analy...",1041
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,"[data, analysis, select, (sql), database, mana...",321